body {
  background: rgb(255, 255, 255);
}

/* style.css */
.blue {
  color: #b0fc00; /* Azul */
}

.red {
  color: #b0fc00; /* Rojo */
}

.white {
  color: #b0fc00; /* Blanco */
}

.contenedor__header {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.nombre__header {
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  color: antiquewhite;
  font-weight: bold;
  text-decoration: none;
}

.secciones__header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-right: 2rem;
}

.link {
  margin: 2rem;
}

.link__titulo {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

.inicio {
  background: #b0fc00;
}

.sobreMi__titulo {
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 6rem;
}

.sobreMi__parrafo {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.sobreMi__ul {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link__redes {
  text-decoration: none;
}

.ul__sobreMi {
  text-decoration: none;
}

.sobreMi__a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2rem;
}

.todo__sobreMi {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.imagen__kenneth {
  width: 70%;
  border-radius: 50%;
}

.contenedor__imagen {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img__link {
  width: 15px;
  height: 15px;
}

.container__aboutMe {
  background: #30c3dd;
  display: flex;
}

.about__titulo{
    margin: 4rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.about__parrafo1{
    font-size: 1.4rem;
    margin-left: 4rem;
    margin-right: 45rem;
    margin-bottom: 3rem;
}

.about__parrafo2{
    font-size: 1.4rem;
    margin-left: 4rem;
    margin-right: 45rem;
    margin-bottom: 10rem;
}


