 body{
    background: rgb(27, 27, 27);
}

.head{
    display: flex;
    justify-content: space-between;
}

.nombre__header{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    color: antiquewhite;
}

.secciones__header{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.link{
    margin: 2rem;
}

.link__titulo{
    color: rgb(168, 170, 169);
    font-size: 1.2rem;
}